<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">New User</div>
          <div class="card-body">
            <form (ngSubmit)="!(userForm.invalid) && changePassword()" #userForm="ngForm">
              <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="emailAddress" [(ngModel)]="username" required #uname
                    required autofocus minlength="5" #emailAddress="ngModel">
                </div>
                <!-- Validation check for password field -->
                <div class="fw-lighter" style="color: red;" *ngIf="userForm.dirty && emailAddress.invalid">
                  Minimum 5 characters need in username
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" name="passwordField" minlength="5" [(ngModel)]="password"
                    required #passwordField="ngModel" (ngModelChange)="isConfirmPasswordSameAsPassword()">
                </div>
                <!-- Validation check for password field -->
                <div class="fw-lighter" style="color: red;" *ngIf="userForm.dirty && passwordField.invalid">
                  Please choose password of atleast 5 characters
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" name="confirmPasswordField" minlength="5"
                    [(ngModel)]="confirmPassword" (ngModelChange)="isConfirmPasswordSameAsPassword()" required>
                </div>
              </div>
              <br>
              <div class="col-md-6 offset-md-5">
                <button type="submit" class="btn btn-primary"
                  [disabled]="userForm.invalid || (confirmPasswordErrorMessage.length>0)">
                  Submit
                </button>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="successMessage">
              {{successMessage}}
            </div>
            <div class="alert alert-warning" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <div class="alert alert-warning" *ngIf="confirmPasswordErrorMessage">
              {{confirmPasswordErrorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
